/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: honeydew;
  font-family: monospace;
}

ul {
  list-style: none;
  padding-inline: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3 {
  line-height: 1.1;
}

.app_wrapper {
  max-width: 1280px;
  margin-inline: auto;
}

.contact_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: 0;
}

.contact_card {
  display: flex;
  flex-direction: column;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border: 2px solid;
  width: min(400px, 90vw);
  border-radius: 4px;
  box-shadow: 5px 5px;
}

.contact_name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact_name > h2 {
  margin-block-start: 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: min(400px, 90vw);
  margin-inline-start: auto;
  font-size: 1.2rem;
  gap: 0.25rem;
}

form input {
  flex: 1;
  font-size: inherit;
  border-radius: 4px;
}

.visually-hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}
